@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app was created and built by Marley Boone. To-Gather was created for those who like to Activities and People and want to bring the two together.</p>
