@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lebanon<br />
    IN 46052<br />
    <abbr title="Phone"></abbr>
    765-481-9050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Marley.Boone@yahoo.com</a><br />
</address>