@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To-Gather</h1>
    <p class="lead">The place to go to connect to people near you to participate in activities! Create a Profile, Add Activities to your profile and then find or create events near you!</p>
    @Html.ActionLink("Create an Event", "Create", "Event", null, new { @class = "btn btn-primary btn-large"})
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Activities</h2>
        <p>
            Click the link to checkout all Activities!
        </p>
        @Html.ActionLink("Go to Activities", "Index", "Activity", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Click the link to go To all Events.</p>
        @Html.ActionLink("Go to Events", "Index", "Event", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>My Profile</h2>
        <p>Click on the link to checkout your profile!</p>
        @Html.ActionLink("Go to Profile", "Index", "UserProfile", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>